[flake8]
max-line-length = 88
extend-ignore = E203, W503, E221, E231, E713
exclude = 
    .git,
    __pycache__,
    .venv,
    .eggs,
    *.egg,
    build,
    dist,
    .pytest_cache,
    .mypy_cache 